### Importing Libraries and Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('boston_pre.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     503 non-null    float64
 1   ZN       505 non-null    float64
 2   INDUS    492 non-null    float64
 3   CHAS     504 non-null    float64
 4   NOX      501 non-null    float64
 5   RM       500 non-null    float64
 6   AGE      498 non-null    float64
 7   DIS      502 non-null    float64
 8   RAD      497 non-null    float64
 9   TAX      500 non-null    float64
 10  PTRATIO  502 non-null    float64
 11  B        501 non-null    float64
 12  LSTAT    504 non-null    float64
 13  PRICE    505 non-null    float64
 14  PRICE2   0 non-null      float64
dtypes: float64(15)
memory usage: 59.4 KB

### Data Cleaning

In [6]:
df1 = df.drop(['PRICE2'], axis = 1)

In [12]:
null = df1[df1.isnull().any(axis=1)]
null

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0.63796,0.0,NaN,0.0,0.538,6.096,84.5,4.4619,4.0,307.0,21.0,380.02,10.26,18.2
28,NaN,0.0,8.14,0.0,0.538,6.495,94.4,4.4547,4.0,307.0,21.0,387.94,12.80,18.4
52,0.05360,21.0,NaN,0.0,0.439,6.511,21.1,6.8147,4.0,243.0,16.8,396.90,5.28,25.0
61,NaN,25.0,5.13,0.0,0.453,5.966,93.4,6.8185,8.0,284.0,19.7,378.08,14.44,16.0
80,0.04113,25.0,4.86,0.0,NaN,6.727,33.5,5.4007,4.0,281.0,19.0,396.90,5.29,28.0
84,0.05059,0.0,4.49,0.0,0.449,6.389,48.0,4.7794,3.0,NaN,18.5,396.90,9.62,23.9
91,0.03932,0.0,NaN,0.0,0.489,6.405,73.9,3.0921,2.0,NaN,17.8,393.55,8.20,22.0
107,0.13117,0.0,8.56,0.0,NaN,6.127,85.2,2.1224,5.0,384.0,20.9,387.69,14.09,20.4
111,0.10084,0.0,10.01,0.0,0.547,6.715,NaN,NaN,NaN,NaN,NaN,395.59,10.16,22.8
119,0.14476,0.0,10.01,0.0,0.547,5.731,65.2,2.7592,NaN,432.0,17.8,391.50,13.61,19.3
125,0.16902,0.0,25.65,0.0,NaN,5.986,88.4,1.9929,2.0,188.0,19.1,385.02,14.81,21.4
127,0.25915,0.0,21.89,0.0,0.624,NaN,96.0,1.7883,NaN,437.0,21.2,392.11,17.19,16.2
128,0.32543,0.0,21.89,0.0,0.624,6.431,98.8,1.8125,4.0,NaN,21.2,396.90,15.39,18.0
133,0.32982,0.0,21.89,0.0,0.624,5.822,95.4,NaN,4.0,437.0,21.2,388.69,15.03,18.4
139,0.54452,0.0,21.89,0.0,0.624,6.151,NaN,1.6687,4.0,437.0,21.2,396.90,18.46,17.8
162,1.83377,0.0,19.58,1.0,0.605,NaN,98.2,2.0407,5.0,403.0,14.7,389.61,1.92,50.0
188,0.12579,45.0,3.44,0.0,0.437,6.556,29.1,NaN,5.0,398.0,15.2,382.84,4.56,29.8
189,0.08370,45.0,3.44,0.0,0.437,NaN,38.9,4.5667,5.0,398.0,15.2,396.90,5.39,34.9
196,0.04011,80.0,1.52,0.0,0.404,7.287,NaN,7.3090,2.0,329.0,12.6,396.90,4.08,33.3
198,0.03768,80.0,1.52,0.0,0.404,NaN,38.3,7.3090,2.0,329.0,12.6,392.20,6.62,34.6
234,0.44791,0.0,6.20,1.0,0.507,6.726,66.5,3.6519,NaN,307.0,17.4,360.20,8.05,29.0
235,0.33045,0.0,6.20,0.0,0.507,6.086,61.5,3.6519,NaN,307.0,17.4,376.75,10.88,24.0
294,0.08199,0.0,13.92,0.0,0.437,6.009,42.3,5.5027,NaN,NaN,NaN,NaN,NaN,21.7
305,0.05479,33.0,2.18,0.0,0.472,6.616,58.1,3.3700,NaN,222.0,NaN,393.36,8.93,28.4
307,0.04932,33.0,2.18,0.0,0.472,6.849,70.3,3.1827,NaN,222.0,18.4,396.90,7.53,28.2
335,0.03961,0.0,5.19,NaN,NaN,NaN,34.5,5.9853,5.0,224.0,20.2,396.90,8.01,21.1
386,24.39380,0.0,18.10,0.0,0.700,4.652,100.0,1.4672,24.0,666.0,20.2,NaN,28.28,10.5
387,22.59710,0.0,18.10,0.0,0.700,5.000,89.5,1.5184,24.0,666.0,20.2,NaN,31.99,7.4
388,14.33370,0.0,18.10,0.0,0.700,4.880,100.0,1.5895,24.0,666.0,20.2,NaN,30.62,10.2
413,28.65580,0.0,NaN,0.0,0.597,5.155,100.0,1.5894,24.0,666.0,20.2,210.97,20.08,16.3
414,45.74610,0.0,NaN,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98,7.0
415,18.08460,0.0,NaN,0.0,0.679,6.434,100.0,1.8347,24.0,666.0,20.2,27.25,29.05,7.2
416,10.83420,0.0,NaN,0.0,0.679,6.782,90.8,1.8195,24.0,666.0,20.2,21.57,25.79,7.5
417,25.94060,0.0,NaN,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64,10.4
418,73.53410,0.0,NaN,0.0,0.679,5.957,100.0,1.8026,24.0,666.0,20.2,16.45,20.62,8.8
419,11.81230,0.0,NaN,0.0,0.718,6.824,76.5,1.7940,24.0,666.0,20.2,48.45,22.74,8.4
420,11.08740,0.0,NaN,0.0,0.718,6.411,100.0,1.8589,24.0,666.0,20.2,318.75,15.02,16.7
421,7.02259,0.0,NaN,0.0,0.718,6.006,95.3,1.8746,24.0,666.0,20.2,319.98,15.70,14.2
422,12.04820,0.0,NaN,0.0,0.614,5.648,87.6,1.9512,24.0,666.0,20.2,291.55,14.10,20.8
449,7.52601,0.0,18.10,0.0,0.713,6.417,NaN,2.1850,24.0,666.0,20.2,304.21,19.31,13.0
450,6.71772,0.0,18.10,0.0,0.713,6.749,NaN,2.3236,24.0,666.0,20.2,0.32,17.44,13.4
451,5.44114,0.0,18.10,0.0,0.713,6.655,NaN,2.3552,24.0,666.0,20.2,355.29,17.73,15.2
452,5.09017,0.0,18.10,0.0,0.713,6.297,NaN,2.3682,24.0,666.0,20.2,385.09,17.27,16.1

In [13]:
df1 = df1.dropna(how = 'all')

In [14]:
df1

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 505 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     503 non-null    float64
 1   ZN       505 non-null    float64
 2   INDUS    492 non-null    float64
 3   CHAS     504 non-null    float64
 4   NOX      501 non-null    float64
 5   RM       500 non-null    float64
 6   AGE      498 non-null    float64
 7   DIS      502 non-null    float64
 8   RAD      497 non-null    float64
 9   TAX      500 non-null    float64
 10  PTRATIO  502 non-null    float64
 11  B        501 non-null    float64
 12  LSTAT    504 non-null    float64
 13  PRICE    505 non-null    float64
dtypes: float64(14)
memory usage: 59.2 KB

In [17]:
df2 = df1.copy()

In [25]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imputer.fit(df2.iloc[:, 0:13])

df2.iloc[:, 0:13] = imputer.transform(df2.iloc[:, 0:13])

In [26]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 505 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     505 non-null    float64
 1   ZN       505 non-null    float64
 2   INDUS    505 non-null    float64
 3   CHAS     505 non-null    float64
 4   NOX      505 non-null    float64
 5   RM       505 non-null    float64
 6   AGE      505 non-null    float64
 7   DIS      505 non-null    float64
 8   RAD      505 non-null    float64
 9   TAX      505 non-null    float64
 10  PTRATIO  505 non-null    float64
 11  B        505 non-null    float64
 12  LSTAT    505 non-null    float64
 13  PRICE    505 non-null    float64
dtypes: float64(14)
memory usage: 59.2 KB

In [27]:
df2.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64